<!-- Views/Users/Index.cshtml -->

@{
    ViewData["Title"] = "Lista Użytkowników";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Is Email Confirmed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userViewModel in Model)
        {
            <tr>
                <td>@userViewModel.User.Id</td>
                <td>@userViewModel.User.UserName</td>
                <td>@userViewModel.User.Email</td>
                <td>@(userViewModel.IsEmailConfirmed ? "Yes" : "No")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@userViewModel.User.Id">Edit</a> |
                    <!--<a asp-action="Details" asp-route-id="@userViewModel.User.Id">Details</a>-->
                    <a asp-action="Delete" asp-route-id="@userViewModel.User.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
